---
title : A page for you
layout : base.njk
---
<div class="container">
    <h1>A simple recipe for Cheese on Toast</h1>
    <p>Here is a receipe for cheest on toast. It is not the most complex recipe in the world...</p>
    <h2>Ingredients</h2>
    <ul>
        <li>Bread (2 slices per person)</li>
        <li>Butter or margerine, as you prefer</li>
        <li>Cheese</li>
        <li>Worcestershire Sauce</li>
    </ul>
    <h2>Method</h2>
    <ol>
        <li>Put the grill on to warm up.</li>
        <li>While the grill is getting ready, lightly toast the bread and grate the cheese.</li>
        <li>Butter the toast, and scatter the grated cheese on each slice. You want a decent covering.</li>
        <li>Put the whole lot under the grill for 5 minutes or however long it takes the cheese to melt and go bubbly.
        </li>
        <li>Sprinkle a dash of Worcestershire Sauce over each slice, cut diagonally, and serve.</li>
    </ol>
</div>